@import "tailwindcss";

:root {
  --color-primary-main: #53793C;
  --color-primary-light: #E3EDDA;
  --color-primary-lighter: #F2F7EE;

  --color-secondary: #A0AEC0;
  --color-secondary-light: #CBD5E0;
  --color-secondary-dark: #718096;

  --color-text-gray100: #6D6D6D;
  --color-text-link: #0287F0;
}

/* Utility classes (optional) */
.bg-primary-main {
  background-color: var(--color-primary-main);
}
.bg-primary-light {
  background-color: var(--color-primary-light);
}
.bg-primary-lighter {
  background-color: var(--color-primary-lighter);
}

.text-primary-main {
  color: var(--color-primary-main);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-gray-100 {
  color: var(--color-text-gray100);
}
.text-link {
  color: var(--color-text-link);
}


/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
