@import "tailwindcss";
@import '@splidejs/splide/css';


:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --color-primary-main: #4A7A8C;
  --color-primary-light: #E3EDDA;
  --color-primary-lighter: #F2F7EE;
  --color-secondary-main: #EAEDF9;

  --color-text-default: #6D6D6D;
  --color-text-link: #4A7A8C;
}


body {

  background-color: "#FAFAFA";
  font-family: var(--font-dm-sans);
}


/* Utility classes (optional) */
.bg-primary-main {
  background-color: var(--color-primary-main);
}
.bg-primary-light {
  background-color: var(--color-primary-light);
}
.bg-primary-lighter {
  background-color: var(--color-primary-lighter);
}

.bg-secondary-main {
  background-color: var(--color-secondary-main);
}

.border-primary-main {
  border-color: var(--color-primary-main);
}

.text-primary-main {
  color: var(--color-primary-main);
}
.text-default {
  color: var(--color-text-default);
}
.text-link {
  color: var(--color-text-link);
}

.text-light-black {
  color: #292F4C;
}

.input-field {
  @apply w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker__current-month {
  font-size: 1.125rem; /* lg */
  font-weight: 600;
  color: #111827; /* Tailwind gray-900 */
  margin-bottom: 0.5rem;
}

.react-datepicker__navigation {
  top: 16px;
}

.react-datepicker__day-names {
  margin-bottom: 0.5rem;
}

.react-datepicker__day-name {
  font-weight: 500;
  font-size: 0.875rem;
  color: #4B5563; /* Tailwind gray-600 */
}




/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
